
*{
    margin: 0;
    padding: 0;
    font-style: sans-serif;
    box-sizing: border-box;
}

body{
    background-color:#6002ee ;
}

form{
    background-color: white ;
    border-radius: 5px;
    max-width: 700px;
    height: 400px;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form div{
    display: flex;
    align-items: initial;
    flex-direction: column;
    gap: 5px;
    position: relative;
    color: white;
    width: 75%;
}


input{
    width: 100%;
    border: none;
    padding: 7px;
    border-bottom: black 1px solid;
}
input:hover, input:focus{
 outline: none;
}
button{
    border: none;
    padding: 7px 150px;
    border-radius: 5px;
    color: white;
    background-color:blue;
    font-weight: bold;
    font-size: 14px;
}

input ~ label{
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(7, 6, 6);
    transition: 0.8s;
} 

input:focus ~ label , 
input:valid ~ label {

    transform: translateY(-25px);
    font-size: 13px;
}